.portfolio {
  width: 100%;
  height: 100%;
  position: relative;
}
.portfolio .aboutme__btn {
  position: absolute;
  color: white;
  z-index: 5;
  font-size: 30px;
  right: 15%;
  top: 50px;
  font-weight: bold;
  cursor: pointer;
}
.aboutme__btn:hover {
  color: #4392e2;
}
.aboutme__btn p {
  display: inline-block;
}
.aboutme__btn .arrow {
  display: inline-block;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
}
.aboutme__btn:hover .arrow {
  transform: translateX(10px);
}
.aboutme__btn .bar {
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background-color: #4392e2;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(-100px, -1px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}
.aboutme__btn:hover .bar {
  transform: translate(-13px, -1px);
  opacity: 1;
}
.portfolio__title {
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 15%;
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.bg-swiper {
  /* z-index: -1; */
  position: absolute;
  top: 0;
  left: 0;
  width: 3000px;
  height: 100%;
}
.bg-swiper .swiper-slide-active {
  width: 3000px;
  background-repeat: no-repeat;
  background-position: left center;
  animation: bgTranslateLeft 600s ease-out infinite;
}
.bg-slide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/web-bg1.jpg");
}
.bg-slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/app-styleguide-bg.jpg");
}
.bg-slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/kakao-clone-bg.png");
  background-size: 3000px 1200px;
}
.bg-slide4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/todo1.png");
  background-size: 3000px 1080px;
}
.bg-swiper {
  pointer-events: none;
}

@keyframes bgTranslateLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-38%);
  }
}
.main-swiper {
  position: absolute;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.swiper-slide {
  /* background-color: rgb(179, 179, 127); */
  /* background-color: #f7f6fe; */
}
.swiper-slide a {
  /* font-size: 30px; */
  text-decoration: none;
  color: black;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.main-swiper {
  overflow: visible;
}
.main-swiper .swiper-slide {
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  /* pointer-events: none; */
}
/* .main-swiper .main-slide1 {
  background-image: url("../images/web.jpg");
  background-size: cover;
  background-position: center 0%;
  animation: scroll 0.3s ease-in-out;
} */
.main-slide1 .slide1__img,
.main-slide2 .slide2__img {
  display: block;
  position: absolute;
  width: 1300px;
  z-index: -1;
  /* pointer-events: none; */
}
.swiper-slide-active .slide1__img {
  animation: scroll 300s linear infinite;
}
.swiper-slide-active .slide2__img {
  animation: scroll 1400s linear infinite;
}
.swiper-slide-active:hover .slide1__img {
  animation-play-state: paused;
}
.swiper-slide-active:hover .slide2__img {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
.main-swiper .main-slide3 {
  background-image: url("../images/kakao_img.jpg");
  background-size: cover;
  /* background-position: center; */
}
.main-swiper .main-slide4 {
  background-image: url("../images/todo1.png");
  background-size: cover;
  /* background-position: center; */
}
.slide__content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding-top: 250px;
}

.content__wrapper {
  /* margin-top: 300px; */
  background-color: rgb(202, 47, 55);
  width: 450px;
  height: 250px;
  color: white;
  font-size: 24px;
  text-indent: 25px;
  margin-bottom: 75px;
}
.main-swiper .main-slide2 .content__wrapper {
  background-color: #ff574c;
}
.main-swiper .main-slide3 .content__wrapper {
  background-color: #fae100;
}
.main-swiper .main-slide4 .content__wrapper {
  background-color: #39cf96;
}
.content__wrapper .slide__title {
  font-size: 30px;
  padding: 30px 0 25px 0;
  font-weight: bold;
}
.main-slide4 .slide__title {
  line-height: 20px;
}
.main-slide4 .slide__title span {
  display: block;
  margin-left: 5px;
  font-size: 20px;
  font-weight: normal;
  padding-top: 9px;
}
.main-slide3 .content__wrapper {
  color: #222222;
}
.main-slide3 .slide__icons span,
.main-slide4 .slide__icons span {
  transform: translate(250px, -9px);
}

.content__wrapper .slide__date {
  padding-bottom: 20px;
}
.content__wrapper .slide__date span {
  padding-left: 10px;
  font-size: 18px;
}
.content__wrapper .slide__tool {
  padding-bottom: 20px;
}
.content__wrapper .slide__icons img {
  margin: 0 2px;
}
.slide__icons a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: rgb(46, 46, 46);
  font-size: 20px;
  font-weight: bold;
}
.slide__icons span:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.slide__icons span {
  text-indent: 0;
  text-align: center;
  display: inline-block;
  width: 85px;
  height: 35px;
  line-height: 33px;
  background-color: rgba(255, 255, 255, 0.979);
  color: black;
  transform: translate(120px, -9px);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.slide__icons img {
  width: 35px;
}
.content__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.content__item a {
  color: rgb(37, 37, 37);
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 50px;
}
/* .content__item:first-child a {
  padding: 0 50px 0 50px;
} */
.content__item span {
  font-weight: normal;
  display: block;
  padding-top: 10px;
  font-size: 15px;
}
.content__item.item__partition {
  width: 2px;
  height: 30px;
  background-color: rgb(56, 56, 56);
}
.slide__content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.slide__content:hover {
  opacity: 1;
}
.slide__content .content__item span {
  transition: color 0.3s ease-in-out;
}
.main-slide1 .content__item:hover span {
  color: rgb(202, 47, 55);
}
.main-slide2 .content__item:hover span {
  color: #ff574c;
}

.main-slide3 .content__item:hover span {
  color: #948714;
}
.main-slide4 .content__item:hover span {
  color: #39cf96;
}
/*  */
/*  */
/* navigation buttons */
.main-prev,
.main-next {
  content: "";
  width: 51px;
  height: 45px;
  background-image: url("../images/arrow-thin.png");
  background-repeat: no-repeat;
  background-position: left center;
  top: 110%;
  outline: none;
}
.main-swiper .main-prev {
  left: 100px;
  z-index: 20;
}
.main-next {
  right: 100px;
}
.main-next {
  background-position: right center;
}
.main-prev::after,
.main-next::after {
  content: "";
}

/*  */
/* pagination */

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -11%;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.2;
  background: white;
}
.swiper-pagination-bullet-active {
  /* background: rgb(202, 47, 55); */
  opacity: 1;
}
