body,
html {
  width: 100vw;
  height: 100vh;
  background-color: rgb(230, 230, 230);
}
.main-swiper {
  width: 80%;
  height: 80%;
  background-color: pink;
  transform: translateY(-50%) skew(-3deg, 0);
  top: 50%;
}

.swiper-slide a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(200px);
}
